<h2 id="{{ id }}">{{ title }}</h2>
<div class="list-group mb-3">
    {% for metric, insightsPerMetric in insights.insightsPerMetric %}
        {% if metricNamespacePart in metric %}
            {% for insight in insightsPerMetric %}
                {% if insight.hasIssue() %}
                    <div class="list-group-item">
                        <div class="clearfix" data-toggle="collapse" href="#code-{{ insight.insightClass|sluggify }}" >
                            <i class="fas text-danger fa-times"></i>
                            <strong>{{ insight.title }}</strong>
                            <span class="text-muted">({{ insight.details|length }})</span>
                            <code class="float-right">{{ insight.insightClass }}</code>
                        </div>
                        <div class="collapse" id="code-{{ insight.insightClass|sluggify }}">
                            <ul>
                                {% for detail in insight.details %}
                                    <li>
                                        {% if detail.hasFile() %}
                                            <code>
                                                {{ detail.file }}{% if detail.hasLine() %}:{{ detail.line }}{% endif %}{% if detail.hasFunction() %}:{{ detail.function }}{% endif %}
                                            </code>
                                        {% endif %}
                                        {% if detail.hasMessage() %}
                                            <span>{{ detail.message }}</span>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
